.cartContainer {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column; 
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.orderContainer, .cartListContainer {
  flex-grow: 1;
  width: auto; 
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: row; 
  align-items: center;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #eee; 
}

.itemDetails {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.quantity, .subtotal {
  margin-left: 10px;
  font-size: small;
}

.removeButtonContainer {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.removeButton {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px;
  border: none; 
  cursor: pointer; 
}

.clearButton {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none; 
  cursor: pointer;
}

.removeClearContainer {
  margin-top: 20px;
  text-align: center;
}

.cartListTitle {
  padding: 20px;
  font-size: large;
}

.cartList {
  list-style: none; 
  padding: 0;
}

.totalContainer {
  padding: 20px;
  text-align: center;
}

.totalLabel {
  font-weight: bold;
  margin-right: 10px;
}

.totalAmount {
  font-size: 1.2em;
  color: #2a7552;
  margin-right: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .cartContainer {
    width: 80%; 
    flex-direction: column;
  }

  .item {
    flex-direction: column; 
    align-items: center; 
  }

  .removeButtonContainer {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin-top: 10px;
  }
}
