.cartContainer {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: row; 
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.orderContainer {
  width: 500px;
}

.cartListTitle {
   padding: 20px;
   font-size: large;
}

.cartListContainer {
  width: 500px;
font-size: small;
}

.item img {
  max-width: 50%; 
  height: auto; 
  margin-bottom: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
 
}

.subtotal, .quantity {
  margin-left: 10px;
  font-size: small;
}

.totalContainer {
  padding: 20px;
  text-align: center;
}

.totalLabel {
  font-weight: bold;
  margin-right: 10px;
}

.totalAmount {
  font-size: 1.2em;
  color: #2a7552;
  margin-right: 10px;
  font-weight: bold;
}

.removeButtonContainer {
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 20px;
  transform: translateY(-50%);
   display: flex;
  align-items: center;
}

.removeButton {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px;
}

.clearButton {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.removeClearContainer {
  margin-top: 20px;
  text-align: center;
}
