.cart-widget-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  margin-right: 5px;
  width: 36px; /* Adjust the width as needed */
  height: 36px; /* Adjust the height as needed */
}

.cart-count {
  color: black;
  font-weight: bold;
  font-size: 1rem; /* Adjust the font size as needed */
}

