.PageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8; // Set your desired background color
  color: black; // Set your desired text color
  font-size: 24px;
  font-weight: bold;
}