.formContainer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  font-weight:normal;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgb(232, 226, 226);
  color: black;
}

.Button {
  display:inline-flex;
  color: #2a7552;

  padding: 8px 12px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  border: none;

  &:hover {
    background-color: #13603c;
    color: rgb(84, 126, 109);
  }
}
